@model IEnumerable<Project.domain.models.Rso>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Created By
            </th>
            <th>
                University
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@item.Statusi.FirstOrDefault(x => x.ID == item.Status).Text*@
                @item.StatusText
            </td>
            <td>
                        @item.CreatedByNavigation.FirstName @item.CreatedByNavigation.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uni.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RsoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RsoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RsoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
