@model RSOMemberManage

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Created By
                </th>
                <th>
                    University
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RSOs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*@item.Statusi.FirstOrDefault(x => x.ID == item.Status).Text*@
                        @item.StatusText
                    </td>
                    <td>
                        @item.CreatedByNavigation.FirstName @item.CreatedByNavigation.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uni.Description)
                    </td>
                    <td>
                        @if (item.RsoMembers.Any(x => x.UserId == Model.User.UserId))
                        {
                            <a asp-action="Leave" asp-controller="Rso" asp-route-id="@item.RsoId" class="btn btn-outline-danger" title="Leave @item.Name">Leave</a>
                        }
                        else
                        {
                            <a asp-action="Join" asp-controller="Rso" asp-route-id="@item.RsoId" class="btn btn-outline-success" title="Join @item.Name"> Join .</a>
                        }
                    </td>
                    <td>
                        <p>

                            <a asp-action="Details" asp-route-id="@item.RsoId"><i class="fa-solid fa-circle-info"></i></a>
                            @if (item.CreatedBy == Model.User.UserId)
                            {
                                <a asp-action="Edit" asp-route-id="@item.RsoId"><i class="fa-solid fa-pen-to-square"></i></a>

                                <a asp-action="Delete" asp-route-id="@item.RsoId"><i class="fa-solid fa-trash-can"></i></a>
                            }
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
