@model IEnumerable<Project.domain.models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSuperAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser)
            </th>
            <th>
                University
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSuperAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uni.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.UserId" title="Details" title="Details"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.UserId" title="Delete" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
